<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <aside id="sidebar">
                <nav>
                    <span>
                        <i class="fa-solid fa-moon"></i>
                        <button id="theme-toggle">Toggle Theme</button>
                    </span>
                    <ul>
                        <li><a href="/" class="fas fa-home">Home</a></li>
                        <li class="dropdown">
                            <i class="fa-solid fa-book"></i><a href="javascript:void(0)" class="dropbtn">Week 1</a>
                            <div class="dropdown-content">
                                <i class="fa-solid fa-code"></i><a href="/fundamentalPython/week1/introduction">Komma igång</a></span>
                                <i class="fa-solid fa-code"></i><a href="/fundamentalPython/week1/first_app">Ditt första program</a>
                                <i class="fa-solid fa-code"></i><a href="/fundamentalPython/week1/syntax">Syntax</a>
                                <i class="fa-solid fa-code"></i><a href="/fundamentalPython/week1/statements_expressions">Påståenden & Uttryck</a>
                                <i class="fa-solid fa-code"></i><a href="/fundamentalPython/week1/operators">Operatorer</a>
                                <i class="fa-solid fa-code"></i><a href="/fundamentalPython/week1/strings">Strängar</a>
                            </div>
                        </li>
                        <li>
                            <i class="fa-solid fa-book"></i><a href="/week2/" class="dropbtn">Week 2</a>
                            <div class="dropdown-content">
                            </div>
                        </li>
                    </ul>
                </nav>
            </aside>

            <main>
                {{ content }}
            </main>
            <footer>
                ...
            </footer>
        </div>
    <script>
          const themeToggle = document.getElementById('theme-toggle');
          const currentTheme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
          document.documentElement.setAttribute('data-theme', currentTheme);
        
          themeToggle.addEventListener('click', () => {
            const newTheme = document.documentElement.getAttribute('data-theme') === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-theme', newTheme);
            localStorage.setItem('theme', newTheme);
          });
        
        function navbarToggle() {
            var x = document.getElementsByClassName("navbar")[0];
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
</body>
</html>
