<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div id="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/week1/">Week 1</a></li>
                    <li><a href="/week2/">Week 2</a></li>
                    <!-- Add more links as needed -->
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        ...
    </footer>
    <script>
        function navbarToggle() {
            var x = document.getElementsByClassName("navbar")[0];
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
</body>
</html>
